
@{
    ViewBag.Title = "Index";
}
<style>
    .top {
        margin-top: 20%;
    }

    .caja {
        border-radius: 5px;
    }
</style>
<div class="row">
    <div class="row vertical-center-row">
        <div class="col-md-4 col-md-offset-4">
            <section class="login-info">
                <div class="panel panel-default top caja">
                    <div class="panel-body">
                        <h1 class="text-center ">Login </h1>
                        <br />
                        <form>
                            <div class="input-group ">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
                                <input id="UserName" type="text" class="form-control" name="UserName" placeholder="Enter your Email">
                            </div>
                            <br />
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                                <input id="Password" type="Password" class="form-control" name="Password" placeholder="Enter your Password">
                            </div>
                            <br>
                            <button type="button" class="btn btn-primary  btn-block" onclick="Authenticate();">Login</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>