@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Expense Manager</h1>
    <p class="lead">Looking for an expense and budget tool? Stop searching. Expense Manager is simple, intuitive, stable and feature-rich app that is just designed for you. Everything you need at your fingertips to manage the expenditures, checkbook and budgets. </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Expense Tracker</h2>
        <p>
            Expense Tracker helps you manage your expenses by using the our App.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Budget Control</h2>
        <p>Use Budget Control widget to show the total of your expenses on home screen.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Accounting</h2>
        <p>Another important widget is Accounting to show you the balance of your accounts.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>